body {
  background-color: black;
  border: solid rgb(255, 153, 170) 2px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mainContainer {
  /* Body of Calculator */
  border: solid green 2px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.topContainer {
  border: solid blue 2px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: white;
}

.display {
  border: solid 2px pink;
  height: 103px;
  width: 352px;
  box-sizing: border-box;
  color: white;
}

.bottomContainer {
  box-sizing: border-box;
  border: solid rgb(60, 255, 0) 2px;
  flex-grow: 3;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  width: 80px;
  height: 40px;
}

span {
  border: chocolate 2px solid;
}
